aesara==2.9.3
aiohttp==3.10.5
astunparse==1.6.3
attr==0.3.2
beartype==0.18.5
conda==4.3.16
ConfigParser==7.1.0
contextlib2==21.6.0
coremltools==7.2
cryptography==43.0.0
ctypes_snappy==1.03
Cython==3.0.11
deeplearning==0.0.1
diffusers==0.30.0
dill==0.3.8
dl==0.1.0
docutils==0.21.2
etcd==2.0.8
expecttest==0.2.1
fastparquet==2024.5.0
flint==0.0.1
foo==.1
gmpy2==2.2.1
gymnasium==0.29.1
HTMLParser==0.0.2
hypothesis==6.111.1
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.5
isal==1.7.0
jnius==1.1.0
kerchunk==0.2.6
keyring==25.3.0
lxml==5.3.0
lz4==4.3.3
lzmaffi==0.3.0
matchpy==0.5.5
mock==5.1.0
monkeytype==23.3.0
moviepy==1.0.3
multiset==3.1.0
numba==0.60.0
onnxscript==0.1.0.dev20240823
optree==0.12.1
pandas==2.2.2
paramiko==3.4.1
path.py==12.5.0
Pillow==10.4.0
pkg1==0.0.3
protobuf==5.27.3
psutil==6.0.0
py==1.11.0
pyarrow==17.0.0
pycosat==0.6.6
pydot==3.0.1
pydy==0.7.1
pygit2==1.15.1
pyglet==2.0.17
pygraphviz==1.13
pymc==5.16.2
pymc3==3.11.6
pynvml==11.5.3
Pyomo==6.7.3
pyOpenSSL==24.2.1
pysat==3.2.0
pytorch_lightning==2.4.0
pywin32==306
PyYAML==6.0.2
PyYAML==6.0.2
railroad==0.5.0
redis==5.0.8
requests_kerberos==0.15.0
safetensors==0.4.4
sage==0.0.0
scipy==1.14.1
Sphinx==8.0.2
symengine==0.11.0
tabulate==0.9.0
theano==1.0.5
thread==2.0.5
tomli_w==1.0.0
torch_xla==2.4.0
torcharrow==0.1.0
torchaudio==2.4.0
torchrec==0.8.0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.5
trove_classifiers==2024.7.2
ujson==5.10.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==3.3.2
yarl==1.9.4
z3==0.2.0
zstandard==0.23.0
